<h2>Recent Activity</h2>
<p><%= %></p>

form for search goes in here
<form method="get" action="/user/index">
    <p><input type="text" name="userNameSearch"></p>
    <p><input type="date" name="userDateBeforeSearch"></p>
    <p><input type="date" name="userDateAfterSearch"></p>
    <p><button value="submit">Submit</button></p>
</form>
<% if (locals.users !=null){ %>
    <%= 'There are users' %>
   <% console.log(users)%>
    <%  users.forEach(user=>{%>
        <%= console.log(user.firstName)%>    
        <p><%=user.firstName%></p>
       <p><%= user.userProfilePic %></p> 
        <p><img height= "100" width="120" src="<%= "/uploads/profilePics/"+user.profilePic%>" alt="Some pic"></p>
    <%})%>
<% } %> 

<% if (locals.asset !=null){ %>
    <%= 'Assets' %>
   <% console.log(asset)%>
    <%  asset.forEach(assetItem=>{%>
        <%= console.log(assetItem.assetCode)%>    
        <p><%=assetItem.assetCode%></p>
       <p><%= assetItem.assetImageName %></p> 
        <p><img height= "100" width="120" src="<%= "/uploads/assetPics/"+assetItem.assetImageName%>" alt="asset pic"></p>
    <%})%>
<% } %>

<% if (locals.assetType !=null){ %>
    <%= 'Asset Types' %>
   <% console.log(assetType)%>
    <%  assetType.forEach(assetTypeItem=>{%>
        <%= console.log(assetTypeItem.assetTypeCode)%>    
        <p><%=assetTypeItem.assetTypeCode%></p>
       <p><%= assetTypeItem.assetTypePic %></p> 
        <p><img height= "100" width="120" src="<%= "/uploads/assetTypePics/"+assetTypeItem.assetTypePic%>" alt="Some pic"></p>
    <%})%>
<% } %>