<h2>Recent Activity</h2>
<!-- <p><%= %></p>

form for search goes in here
<form method="get" action="/user/index">
    <p><input type="text" name="userNameSearch"></p>
    <p><input type="date" name="userDateBeforeSearch"></p>
    <p><input type="date" name="userDateAfterSearch"></p>
    <p><button value="submit">Submit</button></p>
</form> -->
<% if (locals.users !=null){ %>
    <%= 'There are users' %>
    <%  users.forEach(user=>{%>
        <p><%=user.firstName%></p>
        <p><img height= "100" width="120" src="<%=user.userProfilePic%>" alt="Some pic"></p>
    <%})%>
<% } %> 

<% if (locals.asset !=null){ %>
    <%= 'Assets' %>
    <%  asset.forEach(assetItem=>{%>
        <p><%=assetItem.assetCode%></p>
        <p><img height= "100" width="120" src="<%= assetItem.assetImageDetails %>" alt="asset pic"></p>
    <%})%>
<% } %>

<% if (locals.assetType !=null){ %>
    <%= 'Asset Types' %>
    <%  assetType.forEach(assetTypeItem=>{%>
        <p><%=assetTypeItem.assetTypeCode%></p>
       <p><%= assetTypeItem.assetTypePic %></p> 
        <p><img height= "100" width="120" src="<%=assetTypeItem.assetTypeImageDetails%>" alt="Some pic"></p>
    <%})%>
<% } %>
    <% if (locals.contractor !=null){ %>
        <%= 'Contractor' %>
        <%  contractor.forEach(contractorItem=>{%>
            <p><%=contractorItem.contractorCompanyName%></p>
           <p><%= contractorItem.contractorClass %></p> 
            <p><img height= "100" width="120" src="<%=contractorItem.contractorImageDetails%>" alt="Some pic"></p>
        <%})%>
<% } %>