   
    <h4>Welcome, <%= userName %> </h4>
    <div class=<%=msgClass%>>
        <p><%=msg%></p>
    </div>
    
    form for search goes in here
    <div id="searchContDiv">
        <div>
            <form method="get" action="/user/index">
                <p><input type="text" name="userNameSearch" value = <%=searchParams.userNameSearch%>></p>
                <p><input type="date" name="userDateBeforeSearch" value = <%=searchParams.userDateBeforeSearch%>></p>
                <p><input type="date" name="userDateAfterSearch" value = <%=searchParams.userDateAfterSearch%>></p>
                <p><select name="userApprovalRole">
                    <option value = "All">All</option>
                    <%if (userApprovalRoles){%>
                        <%userApprovalRoles.forEach(userRole=>{%>
                            <%console.log('Here are option, ', userRole);%>
                            <option value= <%=userRole%> <%=searchParams.userApprovalRole == userRole ? "Selected":"" %>><%=userRole%></option>
                        <%})%>
                    <%}%>
                </select></p>
                <p><button value="submit">Submit</button></p>
        </div>
        <div>
            <input name='searchScope' type="checkbox" <%=searchParams.searchScope?"checked": ""%> />Own Accounts
        </div>
    </form>

    </div>
    <h2>List of Profiles:</h2>
    <% if (locals.users !=null){ %>
        <%console.log('Here we go')%>
        <%console.log(locals)%>
        <%= 'There are users' %>
        <%  users.forEach(user=>{%>
            <a href="/user/<%= user.id %>">
                <p><img width="120" height= "auto" src="<%= user.userProfilePic%>" alt="<%= user.userProfilePic%>"></p>
            </a>
            <div class="user-name"><%=user.firstName%></div>
    
            <div class="user-row">
                
                <div class = "div-btn-row">
                    <a class= "btn btn-primary" href="/user/<%= user.id %>">View</a>
                        <a class= "btn btn-primary" href="/user/<%= user.id %>/edit">Edit</a>
                    <%-include('../partials/deleteForm.ejs', {url:`/user/${user.id}`}) %>
                </div>
            </div>
        <%})%>
    <% } %> 

    
    <div class="assetList">Assign</div>
</div>

<script>
        var settingsObj = <%- JSON.stringify(uiSettings)%>
        console.log(settingsObj);
        var settingsObjKeys = (Object.keys(settingsObj));
        var settingsObjValues = (Object.values(settingsObj));
        settingsObjKeys.forEach(className=>{
            [ ...document.getElementsByClassName(className)].forEach(elm=>{
                elm.style.display = settingsObj[className];
            })
        })
        console.log(Object.values(settingsObj));
    
</script>