<form action = '/logout?_method=DELETE' method="POST">
  <button type="submit">Logout</button>
</form>
<p style = "color:<%=msg.class%>"><%=msg.message%></p>



<form id="regForm" action="/user" method = "post" style="background-color: skyblue;">

  <h1>Register User:</h1>
  
  <!-- One "tab" for each step in the form: -->
  <div class="tab">Name:
    <p><input placeholder="First name..." oninput="this.className = ''" name = "firstName" value="<%=user.firstName%>"></p>
    <p><input placeholder="Last name..." oninput="this.className = ''" name = "lastName" value="<%=user.lastName%>"></p>
  </div>
  
  <div class="tab">Contact Info:
    <p><input style = "color:<%=msg.class%>" placeholder="E-mail..." oninput="this.className = ''" name = "email" value="<%=user.email%>"></p>
    <p><input placeholder="Phone..." oninput="this.className = ''" name = "phone" value="<%=user.phone%>"></p>
  </div>
  
  <div class="tab">User Created At:
    <p><input type = 'date' oninput="this.className = ''" name = "createdAt" value = "2022-12-11"></p>
    <p><select name = 'state'>
      <option value = '{"state":"Abia", "latLng":{"lat":"5.532003041", "lng":"7.486002487"}}'>Abia</option>
      <option value = '{"state":"Anambra", "latLng":{"lat":"6.210433572", "lng":"7.06999711"}}'>Anambra</option>
      <option value = '{"state":"Ogun", "latLng":{"lat":"7.160427265", "lng":"3.350017455"}}'>Ogun</option>
      <option value = '{"state":"Ekiti", "latLng":{"lat":"7.630372741", "lng":"5.219980834"}}'>Ekiti</option>
      </select></p>
    <input type="file" name="photo" class = "filepond">
  </div>
  
  <div class="tab">Cadre and Rank:
    <p><select name = "cadre" onchange = 'changeOfficerType(this)'>
      <option value = 'regCadre'>Regulatory Officer</option>
      <option value = 'adminCadre'>Admin Officer</option>
      <option value = ''>Laboratory Officer</option>
      <option>Legal Officer</option>
      <option value = 'accountCadre'>Accout Officer</option>
    </select><p>
    <p><select id='rankSel' name="rank">
      <option>ROII</option>
      <option>ROI</option>
      <option>SRO</option>
      <option>PRO</option>
      <option>ACRO</option>
      <option>CRO</option>
      <option>AD</option>
      <option>DD</option>
      <option>Director</option>
    </select></p>
  </div>
  
  <div style="overflow:auto;">
    <div style = "float:left;">
      <a href = "./new" id="cancelBtn">Cancel</a>
    </div>
    <div style="float:right;">
      <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
      <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
    </div>
  </div>
  
  <!-- Circles which indicates the steps of the form: -->
  <div style="text-align:center;margin-top:40px;">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
  </div>
  
  </form>

  <script defer>
     var authVar = {
            auth:<%- JSON.stringify(msg.authMsg) %>
        }

        // authVar['auth'].forEach(authItem=>{
        //   console.log(authItem);
        // })

        
        console.log('--------')
        console.log(authVar['auth']);
        var auditSubmenuAnchorGrab = document.getElementById('auditSubmenuAnchor');
        
        auditSubmenuAnchorGrab.classList.add(authVar['auth']['auditSubmenuAnchorGrab']);
        console.log(auditSubmenuAnchorGrab);
        
    let objCadre ={
      regCadre:['ROII', 'ROI', 'SRO', 'PRO', 'ACRO', 'CRO', 'AD', 'DD', 'Director'],
      adminCadre:['AOII', 'AOI', 'SAO', 'PAO', 'ACAO', 'CAO', 'AD', 'DD', 'Director'],
      accountCadre:['ACAII', 'ACAOI', 'SCAO', 'PCAO', 'ACACO', 'CACO', 'AD', 'DD', 'Director']
    }
    let regCadre = ['ROII', 'ROI', 'SRO', 'PRO', 'ACRO', 'CRO', 'AD', 'DD', 'Director'];
    let adminCadre = ['AOII', 'AOI', 'SAO', 'PAO', 'ACAO', 'CAO', 'AD', 'DD', 'Director'];
    let accountCadre = ['ACAII', 'ACAOI', 'SCAO', 'PCAO', 'ACACO', 'CACO', 'AD', 'DD', 'Director'];

    let rankSelGrab = document.getElementById('rankSel');
    let cadreArr;

  function changeOfficerType(this2){
    console.log(adminCadre);
    console.log(objCadre);
    console.log(objCadre[this2.value]);
    let cadreArr = objCadre[this2.value]
    cadreArr.forEach((arrItem, i)=>{
      rankSelGrab.options[i] = new Option(arrItem)
    })
    // console.log(typeof(this2.value));
    // var la = JSON.parse(this2.value);
    // console.log(la);

  }
  </script>