<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Confirmation Page</h1>
    <h2><%=id%></h2>
    <h2><%=uuid%></h2>
    <div id="receiveOrAuditDivCont">
        <p><a href="/user/<%=id%>" class="receiveOrAudit">Receive Asset</a></p>
        <p><a id ='undergoAudit' class="receiveOrAudit">UndergoAudit</a></p>
    </div>
    <script defer>
        let userID = '<%=id%>';
        let assetID = '<%=assetId%>';
        let assetCode = '<%=uuid%>';

            let undergoAuditGrab = document.getElementById('undergoAudit');

            function auditLocation(){
                function success(pos) {
                    alert('Success')
                    const latitude = pos.coords.latitude;
                    const longitude = pos.coords.longitude;
                        console.log('Position latitude: ', pos.coords.latitude)
                        undergoAuditGrab.href = `/videoAudit/${userID}/${assetID}/${assetCode}/${JSON.Stringify({lat:latitude, lng:longitude})}`;
                        console.log('This is undergoAuditGrab');
                        alert(undergoAuditGrab.href);
                        // console.log(undergoAuditGrab);
                        // href="/videoAudit/:userId/:assetId/:roomId/:locationAudit"
                }
                
                function error() {
                    locationStatusGrab.textContent = "Unable to retrieve your location";
                    console.log('Unable to retrieve your location')
                }
                
                if (!navigator.geolocation) {
                    console.log("Geolocation is not supported by your browser");
                } else {
                    locationStatusGrab.textContent = "Locating…";
                        navigator.geolocation.getCurrentPosition(success, error);
                }
            }

           window.onload = function(){
            alert('Loading window (undergo audit)');
            auditLocation()
           };

    </script>
</body>
</html>