
    <h1>Confirmation Page</h1>
    <h2><%=id%></h2>
    <h2><%=uuid%></h2>
    <div id="receiveOrAuditDivCont">
        <p><a href="/user/<%=id%>" class="receiveOrAudit">Receive Asset</a></p>
        <p><a id ='undergoAudit' class="receiveOrAudit">UndergoAudit</a></p>
    </div>
    <script defer>
        let userID = '<%=id%>';
        let assetID = '<%=assetId%>';
        let assetCode = '<%=uuid%>';
        let undergoAuditGrab;
        undergoAuditGrab = document.getElementById('undergoAudit');

            function auditLocation(){
                alert('Invoked...');
                function success(pos) {
                    alert('Success'+undergoAuditGrab.id);
                    const latitude = pos.coords.latitude;
                    const longitude = pos.coords.longitude;
                        console.log('Position latitude: ', pos.coords.latitude);
                        alert(undergoAuditGrab.id);
                        alert(`/videoAudit/${userID}/${assetID}/${assetCode}/${JSON.Stringify({lat:latitude, lng:longitude})}`)
                        undergoAuditGrab.href = `/videoAudit/${userID}/${assetID}/${assetCode}/${JSON.Stringify({lat:latitude, lng:longitude})}`;
                        console.log('This is undergoAuditGrab');
                        alert(undergoAuditGrab.href);
                        // console.log(undergoAuditGrab);
                        // href="/videoAudit/:userId/:assetId/:roomId/:locationAudit"
                }
                
                function error() {
                    // locationStatusGrab.textContent = "Unable to retrieve your location";
                    console.log('Unable to retrieve your location')
                }
                
                if (!navigator.geolocation) {
                    console.log("Geolocation is not supported by your browser");
                } else {
                    // locationStatusGrab.textContent = "Locating…";
                    alert('There is geoLocation');
                        navigator.geolocation.getCurrentPosition(success, error);
                }
            }

           window.onload = function(){
            alert('Loading window (undergo audit)');
            auditLocation()
           };

    </script>
