<div class="user-show-div">
    <div>
        <h2><%=user.firstName%></h2>
<p><img height= "100" width="120" src="<%= user.userProfilePic%>"></p>

<a href="/user/<%=user.id%>/edit">Edit</a> |
<!-- change this href to the populated version of user -->
<a href="/user/<%=user.id%>/edit">View Asset</a> |

<%-include('_userContent', {btnVal:`Asset Pool`})%>

<%-include('../partials/deleteForm', {url:`/user/${user.id}`})%>

<!-- <div><button id = 'done-btn' disabled='false'>Done</button></div> -->

<%if (assetsByUser.length >0){%>
    <h2>Assets of User</h2>
    <%- include('../partials/userGrid.ejs', {asset:assetsByUser, large:true})%>;
        <%}%>
    </div>

    <div id = "assetList" class="assetList">
        <ul class="user-asset-pool">
            <% allAssets.forEach(asset=>{ %>
                <div style="background-color:yellow;height:60px;margin-bottom:5px" onclick = 'triggerClickCheckbox(this)'>
                   <li><input type="checkbox" class = 'user-asset-pool-checkbox' style="display:inline; width:10%"><a href="/asset/<%=asset.id%>"><%=asset.assetCode%></a></li>
                </div>
            <%})%>
        </ul>
    </div>
        
    <script>
        let assetListGrab = document.getElementsByClassName('assetList')[0];
        let userShowDivGrab = document.getElementsByClassName('user-show-div')[0];

        let assignShowButtonGrab = document.getElementsByClassName('assignShowButton')[0];

        let userAssetPoolGrab = document.getElementsByClassName('user-asset-pool')[0];
        let userAssetPoolCheckboxGrab;
        let userAssetsDivGrab = document.getElementsByClassName('user-assets-div')[0];
        let doneBtnGrab =  document.getElementsByClassName('done-btn')[0];
        
        // allAsset.forEach(aAsset => {
            //     console.log(aAsset);
            // });
            
            function showAssetList(){
                userShowDivGrab.classList.toggle('user-show-div3');
                userShowDivGrab.classList.toggle('user-show-div2');
                userAssetPoolCheckboxGrab = document.getElementsByClassName('user-asset-pool-checkbox');
            }
            
            function userAssetAssign(this2){
                
                userAssetPoolCheckboxGrab = document.getElementsByClassName('user-asset-pool-checkbox');
                console.log(userAssetPoolCheckboxGrab);
                var trueBoxes =  [...userAssetPoolCheckboxGrab].filter(item=>{
                    return item.checked == true;
                })
                console.log(trueBoxes);
                console.log(userAssetPoolGrab); 
                trueBoxes.forEach(item=>{
                    userAssetsDivGrab.appendChild(item.parentNode.parentNode); 
                })

                if (userAssetsDivGrab.children.length){
                    doneBtnGrab.classList.toggle('btn-deActivate'); 
                }
           }

        function userAssetDeassign(){
            // console.log()
            var inputChecks = userAssetsDivGrab.getElementsByClassName('user-asset-pool-checkbox');
            var trueBoxes =  [...inputChecks].filter(item=>{
                return item.checked == true;
            })
            console.log(trueBoxes);
            trueBoxes.forEach(item=>{
                userAssetPoolGrab.appendChild(item.parentNode.parentNode); 
            })
            console.log(userAssetsDivGrab);
            console.log(userAssetsDivGrab.children.length);
            if (!userAssetsDivGrab.children.length){
                    doneBtnGrab.classList.toggle('btn-deActivate'); 
            }
        }  

        function triggerClickCheckbox(this2){
        console.log(this2);
           var checkGrab = this2.getElementsByTagName('input')[0];
           checkGrab.checked = !checkGrab.checked;
        }
    </script>
</div>

