   
    <h4>Welcomel, <%= userName %> </h4>
    <div class=<%=msgClass%>>
        <p><%=msg%></p>
    </div>

    <%console.log('This is date: ',Date.now())%>
    <%console.log('This is date: ',new Date(Date.now()))%>
    
   Audit
    <div id="searchContDiv">
        <div>
            <form method="get" action="/audGoLive">
                
                <p><input type="number" name="userDays" value = <%=searchParams.userDays%>></p>
                <p><input type="text" name="userNameSearch" value = <%=searchParams.userNameSearch%>></p>
                <p><input type="date" name="userDateBeforeSearch" value = <%=searchParams.userDateBeforeSearch%>></p>
                <p><input type="date" name="userDateAfterSearch" value = <%=searchParams.userDateAfterSearch%>></p>
                <p><input type="date" name="testing" value = <%=Date.now().toString%>></p>
                <p><select name="userApprovalRole">
                    <option value = "All">All</option>
                    <%if (userApprovalRoles){%>
                        <%userApprovalRoles.forEach(userRole=>{%>
                            <%console.log('Here are option, ', userRole);%>
                            <option value= <%=userRole%> <%=searchParams.userApprovalRole == userRole ? "Selected":"" %>><%=userRole%></option>
                        <%})%>
                    <%}%>
                </select></p>
                <button value="submit">Submit</button>
                <button id="openSettings">Settings</button>
        </div>
        <div>
            <input name='searchScope' type="checkbox" <%=searchParams.searchScope?"checked": ""%> />Own Accounts
        </div>
    </form>
    <div class="formSettings">
        <!-- forEach -->
        <%if (locals.distinctAuditAssets){%>
            <%distinctAuditAssets.forEach(assetAuditVersion=>{%>
                <form action="">
                    <div>
                    <input style='width:60%; padding:0' value="<%=assetAuditVersion.assetType.assetTypeClass%>"/> <input style='width:20%; padding:0' type="number" value = "<%=assetAuditVersion.assetTypeAuditInterval%>" placeholder="Days"/><button type="submit">Submit</button>
                    </div> 
                </form>
            <%})%>
        <%}%>
    </div>
    </div>
    <h2>List of Profiles:</h2>
    <% if (locals.users !=null){ %>
        <%console.log('Here we go')%>
        <%= 'There are users' %>
        <%console.log('This is users, ', users)%>
        <%let userIdKeyArr = Object.keys(users)%>
        <%userIdKeyArr.forEach(userId=>{%>
            <% if (users[userId].userObj.length){%>
            <%console.log('firstname is: ', users[userId].firstName)%>;
            <div class="user-div">

                <div class="user-name"><%=users[userId].firstName%></div>
                <a href="/user/<%= userId%>">
                    <p><img width="120" height= "auto" src="<%= users[userId].userProfilePic%>" alt="<%= users[userId].userProfilePic%>"></p>
                </a>
                <%  users[userId].userObj.forEach(user=>{%>
                    <ul>
                        <li>
                            <a href="/asset/<%= user.id %>"><%=user.id%></a>
                        </li>
                    </ul>
                    <%})%>
                    
                    <div class="user-row">
                        <div class = "div-btn-row">
                            <p>
                                <a class= "btn btn-primary" href="/user/<%= userId %>">View</a>
                                <a class= "btn btn-primary" href="/user/<%= userId %>/edit">Edit</a>
                                <%-include('../partials/deleteForm.ejs', {url:`/user/${userId}`}) %>
                            </p>
                            
                        </div>
                    </div>
                </div>
                <%}%>
                    <%})%>
                    <% } %> 
                    
                    
                    <div class="assetList">Assign</div>
                </div>

<div class="video-grid" id="video-grid"></div>
<%=roomId%>


<script>
    const Room_ID = "<%=roomId%>";
</script>
<script src="/socket.io/socket.io.js"></script>
<script defer>
            let userID = '<%- userEmail %>';
            var openSettingsGrab = document.getElementById('openSettings');
            openSettingsGrab.addEventListener('click', function(event){
                event.preventDefault();
                openSettings();
            })

            // onclick="function(event){event.preventDefault(); openSettings()}"

            // alert(`In here ${userID}`);
            var socket = io('http://localhost:3000');

            socket.on('connect', ()=>{
                // alert(`you connected on ${socket.id}`);
            })

            // document.addEventListener('click', ()=>{
            //     socket.emit('clicka', 'Adeiza');
            //     // alert('');
            // })
            // socket.on('clickaBack', (msg)=>{
            //     console.log(msg)
            // })


            // window.addEventListener('load', ()=>{
                // socket.emit('clicka', 'Adeiza');
                
                socket.on('DirectorateApproval', (msgApproval)=>{
                    console.log('&&&&&', msgApproval)
                    socket.emit('join-room',  userID, 'NotificationRoom', async(msg)=>{
                        console.log('@@@@@Joined');
                        console.log(msg);
                        let perm = await Notification.requestPermission();
                        alert (perm)
                        if (perm === 'granted'){
                            new Notification(msg, {body:'Directorate Approval Granted Index'});
                        }
                    });
            })
            // });


            //

        var settingsObj = <%- JSON.stringify(uiSettings)%>
        console.log(settingsObj);
        console.log('Now here');
        var settingsObjKeys = (Object.keys(settingsObj));
        var settingsObjValues = (Object.values(settingsObj));
        settingsObjKeys.forEach(className=>{
            [ ...document.getElementsByClassName(className)].forEach(elm=>{
                elm.style.display = settingsObj[className];
            })
        })
        console.log(Object.values(settingsObj));
    function openSettings(event){
        // e.preventDefault();
        console.log('Calling...');
        // alert('called');
        // event.preventDefault()
    }
</script>
<script defer src="https://unpkg.com/peerjs@1.3.2/dist/peerjs.min.js"></script>
<script src="/socket.io/socket.io.js" defer></script>
<script src="/script.js" defer></script>