<h2>List of  Contractors </h2>

<form action = '/contractor' method = 'GET'>
    <div>
        <input type="text" name="contractorName" value = <%=contractor.contractorCompanyName ||locals.contractor %> >
    </div>

    <div>
        <input type="date" name="contractorDate" value = <%=contractor.contractorCompanyName ||locals.contractor %> >
    </div>
    <button type="submit">Search</button>
</form>
<br/>

<% if (locals.contractor != null){ %>
    <%= 'There are assets' %>
    <%  contractor.forEach(contractor=>{%>
        <p><%=contractor.contractorCompanyName%></p>

        <a href="/contractor/<%=contractor.id%>">
            <p><img height= "100" width="120" src="<%= contractor.contractorImageDetails%>"></p>
        </a>
        <div class = "div-btn-row">
            <a class= "btn btn-primary" href="/contractor/<%=contractor.id%>">View</a><a class= "btn btn-primary" href="/contractor/<%=contractor.id%>/edit">Edit</a>
            <%- include('../partials/deleteForm.ejs', {url:`/contractor/${contractor.id}`}) %>
        </div>
    <%})%>
<% } %>