<div id="divCont">
<h2>List of Assets here now</h2>

<div id="searchContDiv">
    <div>
        <form action = '/asset/index' method = 'GET'>
            
                <p><input type="text" name="assetNameSearch" value = <%=searchParams.assetNameSearch %>></p>
            
                <p><input type="date" name="assetDateBeforeSearch" value = <%=searchParams.assetDateBeforeSearch%>></p>
            
                <p><input type="date" name="assetDateAfterSearch" value = <%=searchParams.assetDateAfterSearch %>></p>
            
            <button type="submit">Search</button>
    </div>
    <div>
        
           <p><input name='searchAssetScope' type="checkbox" <%=searchParams.searchAssetScope?"checked": ""%>></p>Own Accounts
        
    </div>
        </form>

    <br/>
</div>

<% if (locals.asset !=null){ %>
    <%=console.log('This is assetAccess', assetDeleteAccess)%>
    <%= 'There are assets' %>
    <div>
        <div class = "radioDivCont">
            <div class="radioDiv">
                <div>By Age: <input type="radio" id="ageInpt" name= 'sortRad' onclick="ageFilter()" ></div>
                <Label>Age:</Label> 
                <input type="Number" id = 'ageFilterNumber' class = 'hideFilterNumber' oninput="ageStatusFilter()" placeholder = '< than...'>
            </div >
            <div class="radioDiv">
                <div>By Assignment:</div>
                <Label>Assigned:</Label> <input type="radio" id="assignedInpt" name= 'sortRad' onclick = 'allocationStatusFilter(".notAllocated", "none")'>
                <Label>Free:</Label> <input type="radio" id="freeInpt" name= 'sortRad' onclick = 'allocationStatusFilter(".allocated", "none")'>
                <Label>All:</Label> <input type="radio" id="allInpt" name= 'sortRad' onclick = 'allocationStatusFilter("", "block")'>
            </div>
            <button id = "createAsset" onclick = "createAsset()">Create Asset</button>
            <!-- <input id = "createAsset" onclick = "createAsset()" value= 'Create Asset' type ='button'> -->
            <div class="createAsset">
                <select name="uniqueAssetList" id="uniqueAssetList">
                    <%uniqueAssets.forEach(asset=>{%>
                        <option value = <%=asset._id%>><%=asset.assetTypeClass%></option>
                    <%})%>
                </select>
                <input name = "numOfAsset" id= "numOfAsset" type="Number" value = '1'>
            </div>
        </div>
    <%  asset.forEach(asset=>{%>
        <div  class = <%=asset.assetAllocationStatus?"allocated": "notAllocated"%>>
            <p><%=asset.assetCode%></p>
            <p><%=asset.assetStatus%></p>
                <a href="/asset/<%=asset.id%>">
                    <p><img height= "100" width="120" src="<%= asset.assetImageDetails%>"></p>
                </a>
                <div class = "div-btn-row">
                    <a class= "btn btn-primary" href="/asset/<%=asset.id%>">View </a><a class= "btn btn-primary" href = "/asset/<%=asset.id%>/edit">Edit</a>
                    
                    <%- include('../partials/deleteFormAsset.ejs', {url:`/asset/${asset.id}`, assetAllocationStatus:asset.assetAllocationStatus, assetDeleteAccess}) %>
                    <%let len = asset.assetUserHistory.length%>
                    <% console.log('Length :', len)%>
                    <%console.log('userid is: ', asset.assetUserHistory[len-1])%>
                    <button class="btn btn-primary" id="deAssignBut" onClick="deAssignAsset('<%=asset.id%>', '<%=asset.assetUserHistory[len-1]%>')" <%=assetDeleteAccess? 'style=display:inline':'style=display:none'%>  <%=asset.assetAllocationStatus != true?'Disabled':"" %>>DeAssignAsset</button> <span id ='ageSpan' ><%= (new Date(Date.now()).getTime() - asset.assetAssignDate)/86400000%></span><span>Day(s) Old</span>
                    <% asset.assetAllocationStatus ? "<a href = `dana/asset._id/asset.assetCode` class = 'QRCodeBtn'>Generate QRCode</a>":"" %>
                    <%if (asset.assetAllocationStatus){%>
                        <a href = '/dana/<%=asset._id%>/<%=asset.assetCode%>' class = 'QRCodeBtn'>Generate QRCode</a>
                        <button id = "assetHistoryBut" class= 'assetHistoryBut' onClick = 'assetHistory("<%=asset._id%>")'>Asset History</button>
                    <%}%>
                </div>
            </div>
            <%})%>
        </div>
<% } %>
<div class ="assetHistory"></div>
</div>


<script defer>
   alert('Now here')
   let assetDate = '<%- asset[0].assetAssignDate%>';
   let assetName = '<%- asset[0].assetName%>';
   let uniqueAssetListGrab = document.getElementById('uniqueAssetList');
   let numOfAssetGrab = document.getElementById('numOfAsset');
   console.log('This is assetDate: ', assetDate.toString());
   let ageFilterNumberGrab = document.getElementById('ageFilterNumber');
   // var deAssignButGrab = document.getElementById('deAssignBut');
   // console.log('This is deAssignButGrab: ', deAssignButGrab);
   //     deAssignButGrab.addEventListener('click', function(){
       //         alert('Nah');
       //     });
       let assetHistoryGrab =  document.getElementsByClassName('assetHistory')[0];
       
let obj = {
    assetId:[],
    userId:[]
}
async function deAssignAsset(assetId, userId){
    console.log('This is userId ', userId);

    // let userId = asset.assetUserHistory[asset.assetUserHistory.length-1].id;
    // let assetId = asset.id;
    alert('DeAssigning.... Administratively '+ assetId);
    obj.assetId.push(assetId);
    obj.userId.push(userId);
    obj.assignment = 'adminDeAssign';

    console.log('Obj is: ', obj);
    let objString = JSON.stringify(obj);
    console.log('Obj String is: ', objString);
    let deAssignedMsg = await fetch(`/asset/deAssign/${objString}`, {
        method: 'PUT',
            // body: JSON.stringify({ title: 'Fetch PUT Request Example' })
    });

    console.log('Done?', deAssignedMsg);
   
    // let deleteSavedSnapshotOptions = await deletedSavedSnapshotObj.json();
}


    let settingsObj = <%- JSON.stringify(uiSettings)%>
    console.log('This is settingsObj', settingsObj);
    var settingsObjKeys = (Object.keys(settingsObj));
    var settingsObjValues = (Object.values(settingsObj));
    settingsObjKeys.forEach(className=>{
        [ ...document.getElementsByClassName(className)].forEach(elm=>{
            elm.style.display = settingsObj[className];
        })
    })

    function allocationStatusFilter(className, displayVal){
        alert('Filtering...');
        let assetDivs = document.querySelectorAll('.allocated, .notAllocated'); 
            [...assetDivs].forEach(div=>{
                div.style.display = 'block';
            })

        let divAll = document.querySelectorAll(className);
            console.log(divAll);
            [...divAll].forEach(div=>{
                div.style.display = displayVal;
            })
    }
    
function ageFilter(){
    console.log(event.target);
    // document.getElementById('ageFilterNumber').style.display = 'inline'  
    document.getElementById('ageFilterNumber').classList.toggle('showFilterNumber');// = 'inline'  
}

function ageInptUnchecked(){
    // alert('No focus');
    // document.getElementById('ageFilterNumber').style.display = 'none'  
    alert('toggling...')
    document.getElementById('ageFilterNumber').classList.toggle('showFilterNumber');  
}

function ageStatusFilter(){
    
    alert('By age');
    let ageSpanCollection = document.querySelectorAll('#ageSpan');
    console.log(ageSpanCollection);
        //Normalising
        [...ageSpanCollection].forEach(span=>{
                span.parentNode.parentNode.style.display = 'block';
        });

       
    [...ageSpanCollection].forEach(span=>{
        if (+span.innerHTML < ageFilterNumberGrab.value ){
            console.log('Less than ', +span.innerHTML);
            console.log('Value ', ageFilterNumberGrab.value);
            span.parentNode.parentNode.style.display = 'None';
        }
    })
}

async function createAsset() {
    console.log('Yeah2');
            var data = await fetch(`/asset/adminCreateAsset/${uniqueAssetListGrab.value}/${numOfAssetGrab.value}`);
            let dataResponse = await data.json();
            console.log(dataResponse);
            
        }
        
async function assetHistory(assetId){
    var data = await fetch(`/asset/assetHistory/${assetId}`);
    let dataResponse = await data.json();
    console.log(dataResponse);
    let butCancelDiv = document.createElement('div');
        butCancelDiv.setAttribute('class', 'butCancelDiv')
    let butCancel = document.createElement('button');
        butCancel.innerHTML = 'x';
    butCancel.addEventListener('click', function(){
        console.log(this);
        console.log(this.parentNode.parentNode);
        console.log(this.parentNode.parentNode.classList);
        assetHistoryGrab.classList.toggle('hide');
        assetHistoryGrab.classList.remove('unHide');
    })
    butCancelDiv.append(butCancel);
        assetHistoryGrab.innerText = "";
    assetHistoryGrab.append(butCancelDiv);
    dataResponse.msg[0].assetActivityHistory.forEach(activityObj=>{
        let assetHistoryInnerDiv = document.createElement('div');
        assetHistoryInnerDiv.innerText = `Type: ${activityObj.activity}  | \t User:${activityObj.user}  |  By: ${activityObj.activityBy}  | \tDate:${activityObj.activityDate}`
        assetHistoryGrab.append(assetHistoryInnerDiv);
    })
    assetHistoryGrab.classList.remove('hide');
    assetHistoryGrab.classList.toggle('unHide');
    console.log(assetHistoryGrab.classList);
}
    
</script>