<h2>List of Assets here</h2>

<form action = '/assets' method = 'GET'>
    <div>
        <input type="text" name="assetName" value = <%=searchOptions %> />
    </div>

    <div>
        <input type="date" name="assetDate" value = <%=searchOptions %>/>
    </div>
    <button type="submit">Search</button>
</form>
<br/>

<% if (locals.asset !=null){ %>
    <%= 'There are assets' %>
    <%  asset.forEach(asset=>{%>
        <p><%=asset.assetCode%></p>
        <a href="/asset/<%=asset.id%>">
            <p><img height= "100" width="120" src="<%= asset.assetImageDetails%>"></p>
        </a>
        <div class = "div-btn-row">
            <a class= "btn btn-primary" href="/asset/<%=asset.id%>">View </a><a class= "btn btn-primary" href = "/asset/<%=asset.id%>/edit">Edit </a>
            
            <%- include('../partials/deleteForm.ejs', {url:`/asset/${asset.id}`}) %>
        </div>
    <%})%>
<% } %>