<h2>List of Assets here</h2>

<div id="searchContDiv">
    <div>
        <form action = '/asset/index' method = 'GET'>
            
                <p><input type="text" name="assetNameSearch" value = <%=searchParams.assetNameSearch %>></p>
            
                <p><input type="date" name="assetDateBeforeSearch" value = <%=searchParams.assetDateBeforeSearch%>></p>
            
                <p><input type="date" name="assetDateAfterSearch" value = <%=searchParams.assetDateAfterSearch %>></p>
            
            <button type="submit">Search</button>
    </div>
    <div>
        
           <p><input name='searchAssetScope' type="checkbox" <%=searchParams.searchAssetScope?"checked": ""%>></p>Own Accounts
        
    </div>
        </form>

    <br/>
</div>

<% if (locals.asset !=null){ %>
    <%= 'There are assets' %>
    <%  asset.forEach(asset=>{%>
        <p><%=asset.assetCode%></p>
        <div  class = <%=asset.assetAllocationStatus?"allocated": "notAllocated"%>>
        <a href="/asset/<%=asset.id%>">
            <p><img height= "100" width="120" src="<%= asset.assetImageDetails%>"></p>
        </a>
        <div class = "div-btn-row">
            <a class= "btn btn-primary" href="/asset/<%=asset.id%>">View </a><a class= "btn btn-primary" href = "/asset/<%=asset.id%>/edit">Edit</a>
            
            <%- include('../partials/deleteForm.ejs', {url:`/asset/${asset.id}`}) %>
            <%let len = asset.assetUserHistory.length%>
            <% console.log('Length :', len)%>
            <%console.log('userid is: ', asset.assetUserHistory[len-1].toString())%>
            <button class="btn btn-primary" id="deAssignBut" onClick="deAssignAsset('<%=asset.id%>', '<%=asset.assetUserHistory[len-1].toString()%>')">DeAssignAsset</button>
        </div>
        </div>
    <%})%>
<% } %>

<script defer>
   

// var deAssignButGrab = document.getElementById('deAssignBut');
// console.log('This is deAssignButGrab: ', deAssignButGrab);
//     deAssignButGrab.addEventListener('click', function(){
//         alert('Nah');
//     });

let obj = {
    assetId:[],
    userId:[]
}
async function deAssignAsset(assetId, userId){
    console.log('This is userId ', userId);

    // let userId = asset.assetUserHistory[asset.assetUserHistory.length-1].id;
    // let assetId = asset.id;
    alert('DeAssigning.... Administratively '+ assetId);
    obj.assetId.push(assetId);
    obj.userId.push(userId);
    obj.assignment = 'adminDeAssign';

    console.log('Obj is: ', obj);
    let objString = JSON.stringify(obj);
    console.log('Obj String is: ', objString);
    let deAssignedMsg = await fetch(`/asset/deAssign/${objString}`, {
        method: 'PUT',
            // body: JSON.stringify({ title: 'Fetch PUT Request Example' })
    });

    console.log('Done?', deAssignedMsg);
   
    // let deleteSavedSnapshotOptions = await deletedSavedSnapshotObj.json();
}


    let settingsObj = <%- JSON.stringify(uiSettings)%>;
    console.log(settingsObj);
    var settingsObjKeys = (Object.keys(settingsObj));
    var settingsObjValues = (Object.values(settingsObj));
    settingsObjKeys.forEach(className=>{
        [ ...document.getElementsByClassName(className)].forEach(elm=>{
            elm.style.display = settingsObj[className];
        })
    })
    

    
</script>