<h2>List of Assets here now</h2>

<div id="searchContDiv">
    <div>
        <form action = '/asset/index' method = 'GET'>
            
                <p><input type="text" name="assetNameSearch" value = <%=searchParams.assetNameSearch %>></p>
            
                <p><input type="date" name="assetDateBeforeSearch" value = <%=searchParams.assetDateBeforeSearch%>></p>
            
                <p><input type="date" name="assetDateAfterSearch" value = <%=searchParams.assetDateAfterSearch %>></p>
            
            <button type="submit">Search</button>
    </div>
    <div>
        
           <p><input name='searchAssetScope' type="checkbox" <%=searchParams.searchAssetScope?"checked": ""%>></p>Own Accounts
        
    </div>
        </form>

    <br/>
</div>

<% if (locals.asset !=null){ %>
    <%=console.log('This is assetAccess', assetDeleteAccess)%>
    <%= 'There are assets' %>
    <div>
        <div class = "radioDivCont">
            <div class="radioDiv">
                <div>By Age: <input type="radio" id="ageInpt" name= 'sortRad' onclick="ageFilter()" onblur="ageInptUnchecked()"></div>
                <Label>Age:</Label> 
                <input type="Number" id = 'ageFilterNumber' oninput="ageStatusFilter()">
            </div >
            <div class="radioDiv">
                <div>By Assignment:</div>
                <Label>Assigned:</Label> <input type="radio" id="assignedInpt" name= 'sortRad' onclick = 'allocationStatusFilter(".notAllocated", "none")'>
                <Label>Free:</Label> <input type="radio" id="freeInpt" name= 'sortRad' onclick = 'allocationStatusFilter(".allocated", "none")'>
                <Label>All:</Label> <input type="radio" id="allInpt" name= 'sortRad' onclick = 'allocationStatusFilter("", "block")'>
            </div>
        </div>
    <%  asset.forEach(asset=>{%>
        <div  class = <%=asset.assetAllocationStatus?"allocated": "notAllocated"%>>
            <p><%=asset.assetCode%></p>
                <a href="/asset/<%=asset.id%>">
                    <p><img height= "100" width="120" src="<%= asset.assetImageDetails%>"></p>
                </a>
                <div class = "div-btn-row">
                    <a class= "btn btn-primary" href="/asset/<%=asset.id%>">View </a><a class= "btn btn-primary" href = "/asset/<%=asset.id%>/edit">Edit</a>
                    
                    <%- include('../partials/deleteFormAsset.ejs', {url:`/asset/${asset.id}`, assetAllocationStatus:asset.assetAllocationStatus, assetDeleteAccess}) %>
                    <%let len = asset.assetUserHistory.length%>
                    <% console.log('Length :', len)%>
                    <%console.log('userid is: ', asset.assetUserHistory[len-1].toString())%>
                    <button class="btn btn-primary" id="deAssignBut" onClick="deAssignAsset('<%=asset.id%>', '<%=asset.assetUserHistory[len-1].toString()%>')" <%=assetDeleteAccess? 'style=display:inline':'style=display:none'%>>DeAssignAsset</button> <span id ='ageSpan' ><%= (new Date(Date.now()).getTime() - asset.assetAssignDate)/86400000%></span><span>Day(s) Old</span>
                </div>
            </div>
            <%})%>
        </div>
<% } %>

<script defer>
   alert('Now here')
   let assetDate = '<%- asset[0].assetAssignDate%>';
   let assetName = '<%- asset[0].assetName%>';
   console.log('This is assetDate: ', assetDate.toString());
   let ageFilterNumberGrab = document.getElementById('ageFilterNumber');
// var deAssignButGrab = document.getElementById('deAssignBut');
// console.log('This is deAssignButGrab: ', deAssignButGrab);
//     deAssignButGrab.addEventListener('click', function(){
//         alert('Nah');
//     });

let obj = {
    assetId:[],
    userId:[]
}
async function deAssignAsset(assetId, userId){
    console.log('This is userId ', userId);

    // let userId = asset.assetUserHistory[asset.assetUserHistory.length-1].id;
    // let assetId = asset.id;
    alert('DeAssigning.... Administratively '+ assetId);
    obj.assetId.push(assetId);
    obj.userId.push(userId);
    obj.assignment = 'adminDeAssign';

    console.log('Obj is: ', obj);
    let objString = JSON.stringify(obj);
    console.log('Obj String is: ', objString);
    let deAssignedMsg = await fetch(`/asset/deAssign/${objString}`, {
        method: 'PUT',
            // body: JSON.stringify({ title: 'Fetch PUT Request Example' })
    });

    console.log('Done?', deAssignedMsg);
   
    // let deleteSavedSnapshotOptions = await deletedSavedSnapshotObj.json();
}


    let settingsObj = <%- JSON.stringify(uiSettings)%>
    console.log('This is settingsObj', settingsObj);
    var settingsObjKeys = (Object.keys(settingsObj));
    var settingsObjValues = (Object.values(settingsObj));
    settingsObjKeys.forEach(className=>{
        [ ...document.getElementsByClassName(className)].forEach(elm=>{
            elm.style.display = settingsObj[className];
        })
    })

    function allocationStatusFilter(className, displayVal){
        alert('Filtering...');
        let assetDivs = document.querySelectorAll('.allocated, .notAllocated'); 
            [...assetDivs].forEach(div=>{
                div.style.display = 'block';
            })

        let divAll = document.querySelectorAll(className);
            console.log(divAll);
            [...divAll].forEach(div=>{
                div.style.display = displayVal;
            })
    }
    
function ageFilter(){
    console.log(event.target);
    document.getElementById('ageFilterNumber').style.display = 'inline'  
}

function ageInptUnchecked(){
    // alert('No focus');
    document.getElementById('ageFilterNumber').style.display = 'none'  
}

function ageStatusFilter(){
    
    alert('By age');
    let ageSpanCollection = document.querySelectorAll('#ageSpan');
    console.log(ageSpanCollection);
    [...ageSpanCollection].forEach(span=>{
        if (+span.innerHTML < ){
            console.log('Less than ', +span.innerHTML);
            span.parentNode.parentNode.style.display = 'None';
        }
    })
}
    
</script>