<h2>List of Assets here</h2>

<div id="searchContDiv">
    <div>
        <form action = '/asset/index' method = 'GET'>
            
                <p><input type="text" name="assetNameSearch" value = <%=searchParams.assetNameSearch %>></p>
            
                <p><input type="date" name="assetDateBeforeSearch" value = <%=searchParams.assetDateBeforeSearch%>></p>
            
                <p><input type="date" name="assetDateAfterSearch" value = <%=searchParams.assetDateAfterSearch %>></p>
            
            <button type="submit">Search</button>
    </div>
    <div>
        
           <p><input name='searchAssetScope' type="checkbox" <%=searchParams.searchAssetScope?"checked": ""%>></p>Own Accounts
        
    </div>
        </form>

    <br/>
</div>

<% if (locals.asset !=null){ %>
    <%= 'There are assets' %>
    <%  asset.forEach(asset=>{%>
        <p><%=asset.assetCode%></p>
        <a href="/asset/<%=asset.id%>">
            <p><img height= "100" width="120" src="<%= asset.assetImageDetails%>"></p>
        </a>
        <div class = "div-btn-row">
            <a class= "btn btn-primary" href="/asset/<%=asset.id%>">View </a><a class= "btn btn-primary" href = "/asset/<%=asset.id%>/edit">Edit</a>
            
            <%- include('../partials/deleteForm.ejs', {url:`/asset/${asset.id}`}) %>
        </div>
    <%})%>
<% } %>

<script>
    // var regAssetTypeGrab = document.getElementById('regAssetType');
    // console.log(regAssetTypeGrab);
    // regAssetTypeGrab.style.display = 'none';

    // uiSettings = {
    // sideNav:{
    //     'regAssetType':'none'
    // }
    
// }


    let settingsObj = <%- JSON.stringify(uiSettings)%>;
    console.log(settingsObj);
    var settingsObjKeys = (Object.keys(settingsObj));
    var settingsObjValues = (Object.values(settingsObj));
    settingsObjKeys.forEach(className=>{
        [ ...document.getElementsByClassName(className)].forEach(elm=>{
            elm.style.display = settingsObj[className];
        })
    })
    

    
</script>