<h2>List of Assets Types here</h2>
<%if (locals.msg){ %>
    <h6><%= msg %></h6>
    <%}%>
<form action = '/assetType' method = 'GET'>
    <div>
        <input type="text" name="assetTypeName" value = <%=assetTypes.assetTypeCode %>  >
    </div>

    <div>
        <input type="date" name="assetTypeDate" value = "<%=assetTypes %>">
    </div>
    <button type="submit">Search</button>
</form>
<br/>

<% if (locals.assetTypes !=null){ %>
    <%= 'There are assets' %>
    <%  assetTypes.forEach(assetType=>{%>
        <p><%=assetType.assetTypeClass%></p>

        <a href="/assetType/<%=assetType.id%>">
            <p><img height= "100" width="120" src="<%= assetType.assetTypeImageDetails%>"></p>
        </a>
        <div class = "div-btn-row">
            <a class= "btn btn-primary" href="/assetType/<%=assetType.id%>">View </a><a class= "btn btn-primary" href = "/assetType/<%=assetType.id%>/edit">Edit </a>
            <%- include('../partials/deleteForm.ejs', {url:`/assetType/${assetType.id}`}) %>
        </div>
        
        
    <%})%>
<% } %>